In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import apriori
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import silhouette_score
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
import numpy as np
from scipy.stats import f_oneway

import warnings
warnings.filterwarnings("ignore")

In [34]:
df = pd.read_csv('supermarket.csv')
df.tail(3)

,SHOP_WEEK,SHOP_DATE,SHOP_WEEKDAY,SHOP_HOUR,QUANTITY,SPEND,PROD_CODE,PROD_CODE_10,PROD_CODE_20,PROD_CODE_30,...,CUST_PRICE_SENSITIVITY,CUST_LIFESTAGE,BASKET_ID,BASKET_SIZE,BASKET_PRICE_SENSITIVITY,BASKET_TYPE,BASKET_DOMINANT_MISSION,STORE_CODE,STORE_FORMAT,STORE_REGION
578079,200637,20061109,5,16,1,4.47,PRD0900396,CL00229,DEP00081,G00027,...,UM,NaN,994103100229855,L,MM,Full Shop,Mixed,STORE00001,LS,E02
578080,200717,20070624,1,10,1,4.92,PRD0903065,CL00229,DEP00081,G00027,...,UM,YF,994106300437841,L,MM,Full Shop,Mixed,STORE00001,LS,E02
578081,200744,20071229,7,14,1,9.27,PRD0901923,CL00229,DEP00081,G00027,...,UM,NaN,994109000359411,L,MM,Top Up,Mixed,STORE00001,LS,E02

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578082 entries, 0 to 578081
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SHOP_WEEK                 578082 non-null  int64
 1   SHOP_DATE                 578082 non-null  int64
 2   SHOP_WEEKDAY              578082 non-null  int64
 3   SHOP_HOUR                 578082 non-null  int64
 4   QUANTITY                  578082 non-null  int64
 5   SPEND                     578082 non-null  float64
 6   PROD_CODE                 578082 non-null  object
 7   PROD_CODE_10              578082 non-null  object
 8   PROD_CODE_20              578082 non-null  object
 9   PROD_CODE_30              578082 non-null  object
 10  PROD_CODE_40              578082 non-null  object
 11  CUST_CODE                 492494 non-null  object
 12  CUST_PRICE_SENSITIVITY    492494 non-null  object
 13  CUST_LIFESTAGE            433142 non-null  object
 14  BASKET_ID                 578082 non-null  int64
 15  BASKET_SIZE               578082 non-null  object
 16  BASKET_PRICE_SENSITIVITY  578082 non-null  object
 17  BASKET_TYPE               578082 non-null  object
 18  BASKET_DOMINANT_MISSION   578082 non-null  object
 19  STORE_CODE                578082 non-null  object
 20  STORE_FORMAT              578082 non-null  object
 21  STORE_REGION              578082 non-null  object
dtypes: float64(1), int64(6), object(15)
memory usage: 97.0+ MB

In [36]:
# Clean missing values
df.dropna(subset=['CUST_CODE'], inplace=True)
df['CUST_LIFESTAGE'] = df['CUST_LIFESTAGE'].fillna('XX')
df.isna().sum()

SHOP_WEEK                   0
SHOP_DATE                   0
SHOP_WEEKDAY                0
SHOP_HOUR                   0
QUANTITY                    0
SPEND                       0
PROD_CODE                   0
PROD_CODE_10                0
PROD_CODE_20                0
PROD_CODE_30                0
PROD_CODE_40                0
CUST_CODE                   0
CUST_PRICE_SENSITIVITY      0
CUST_LIFESTAGE              0
BASKET_ID                   0
BASKET_SIZE                 0
BASKET_PRICE_SENSITIVITY    0
BASKET_TYPE                 0
BASKET_DOMINANT_MISSION     0
STORE_CODE                  0
STORE_FORMAT                0
STORE_REGION                0
dtype: int64

In [37]:
# clean data type
df['SHOP_DATE'] = pd.to_datetime(df['SHOP_DATE'], format='%Y%m%d')
df['SHOP_MONTH'] = df['SHOP_DATE'].dt.to_period('m')
df['BASKET_ID'] = df['BASKET_ID'].astype(str)

In [38]:
df[['QUANTITY', 'SPEND']].describe().apply(lambda x: x.apply('{0:.5f}'.format)).transpose()

,count,mean,std,min,25%,50%,75%,max
QUANTITY,492494.00000,1.52764,1.57281,1.00000,1.00000,1.00000,1.00000,129.00000
SPEND,492494.00000,1.92788,2.69127,0.01000,0.77000,1.24000,2.11000,346.46000

In [39]:
print(f"min date :{df['SHOP_DATE'].min()}")
print(f"max date :{df['SHOP_DATE'].max()}")

min date :2006-04-10 00:00:00
max date :2008-07-06 00:00:00

## Customer Single View

In [40]:
# create single customer view
df_scv = df[['CUST_CODE']].drop_duplicates().reset_index(drop=True)

df_scv = df_scv.merge(
    df.groupby(['CUST_CODE', 'BASKET_ID']).agg(
    spend = ('SPEND', 'sum'),
    first_visit = ('SHOP_DATE', 'min'),
    last_visit = ('SHOP_DATE', 'max'),
    unique_week = ('SHOP_WEEK', 'max')).reset_index().groupby('CUST_CODE').agg(avg_bkt_size = ('spend', 'mean'), 
                                                                    total_trans = ('spend', 'count'),
                                                                    total_spend = ('spend', 'sum'),
                                                                    first_visit = ('first_visit', 'min'),
                                                                    last_visit = ('last_visit', 'max'),
                                                                    unique_week = ('unique_week', 'count')),
    how='left', on='CUST_CODE')

df_scv = df_scv.merge(
    df.loc[df['SHOP_MONTH'] > (df['SHOP_MONTH'].max() - 3), :].groupby(['CUST_CODE', 'BASKET_ID']).agg(
    spend = ('SPEND', 'sum')).reset_index().groupby('CUST_CODE').agg(avg_bkt_size_3m = ('spend', 'mean'), 
                                                                    total_trans_3m = ('spend', 'count'),
                                                                    total_spend_3m = ('spend', 'sum')),
    how='left', on='CUST_CODE')

df_scv = df_scv.merge(
    df.loc[df['SHOP_MONTH'] > (df['SHOP_MONTH'].max() - 6), :].groupby(['CUST_CODE', 'BASKET_ID']).agg(
    spend = ('SPEND', 'sum')).reset_index().groupby('CUST_CODE').agg(avg_bkt_size_6m = ('spend', 'mean'), 
                                                                    total_trans_6m = ('spend', 'count'),
                                                                    total_spend_6m = ('spend', 'sum')),
    how='left', on='CUST_CODE')

df_scv['tbp'] = (df_scv['last_visit']-df_scv['first_visit']).dt.days / df_scv['total_trans']
df_scv['mem_dur'] = (df['SHOP_DATE'].max()-df_scv['first_visit']).dt.days
df_scv['avg_weekly_trans'] = df_scv['total_trans'] / df_scv['unique_week']
df_scv['avg_weekly_spend'] = df_scv['total_spend'] / df_scv['unique_week']
# df_scv['totspend/memdur'] = df_scv['total_spend']/df_scv['mem_dur']
# df_scv['numtrans/memdur'] = df_scv['total_trans']/df_scv['mem_dur']

df_scv.drop(columns=['unique_week', 'first_visit'], inplace=True)

df_scv.tail(3)

,CUST_CODE,avg_bkt_size,total_trans,total_spend,last_visit,avg_bkt_size_3m,total_trans_3m,total_spend_3m,avg_bkt_size_6m,total_trans_6m,total_spend_6m,tbp,mem_dur,avg_weekly_trans,avg_weekly_spend
3436,CUST0000352552,0.63,1,0.63,2007-11-26,NaN,NaN,NaN,NaN,NaN,NaN,0.0,223,1.0,0.63
3437,CUST0000218304,1.54,1,1.54,2008-01-24,NaN,NaN,NaN,NaN,NaN,NaN,0.0,164,1.0,1.54
3438,CUST0000259310,0.03,1,0.03,2008-03-12,NaN,NaN,NaN,0.03,1.0,0.03,0.0,116,1.0,0.03