In [18]:
import pandas as pd
from ast import literal_eval

In [19]:
trans_2021 = pd.read_csv('transaction 2021.csv')
trans_2022 = pd.read_csv('transaction 2022.csv')
trans_2023 = pd.read_csv('transaction 2023.csv')

df_trans = pd.concat([trans_2021, trans_2022, trans_2023])

In [20]:
df_trans.tail(3)

,payment_date,ent,center,product_json,total_amount,discount,paid_amount,trans_origin_type
362106,2023-07-06 00:00:00.000,TCCEQ4Z4R4Y,TKC1Z4,"[{""product"":""KCQCEJ"",""qty"":1}]",2500.0,NaN,2500,offline
362107,2023-07-06 00:00:00.000,TCCEQEZJQ4F,TKC1Z4,"[{""product"":""KCQCER"",""qty"":1}]",2500.0,NaN,2500,offline
362108,2023-07-06 00:00:00.000,TCCEQ434R1F,TKC1Z4,"[{""product"":""KCQCER"",""qty"":1}]",2500.0,NaN,2500,offline

In [21]:
df_trans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2406316 entries, 0 to 362108
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   payment_date       object
 1   ent                object
 2   center             object
 3   product_json       object
 4   total_amount       float64
 5   discount           float64
 6   paid_amount        int64
 7   trans_origin_type  object
dtypes: float64(2), int64(1), object(5)
memory usage: 165.2+ MB

In [22]:
df_trans.isnull().sum()

payment_date           0
ent                    0
center                 0
product_json           9
total_amount           0
discount             140
paid_amount            0
trans_origin_type      0
dtype: int64

In [23]:
df_trans['trans_id'] = df_trans.reset_index().index + 1

df_trans['product_json'] = df_trans['product_json'].fillna('[{\'product\':\'NA\',\'qty\':0}]')

df_trans['product_json'] = df_trans['product_json'].apply(literal_eval) 
df_trans = df_trans.explode('product_json')

df_trans['product'] = df_trans['product_json'].apply(lambda x : x['product'])
df_trans['qty'] = df_trans['product_json'].apply(lambda x : x['qty'])

df_trans = df_trans.drop(columns='product_json').reset_index(drop=True)

df_trans.tail(3)

,payment_date,ent,center,total_amount,discount,paid_amount,trans_origin_type,trans_id,product,qty
4129111,2023-07-06 00:00:00.000,TCCEQ4Z4R4Y,TKC1Z4,2500.0,NaN,2500,offline,2406314,KCQCEJ,1
4129112,2023-07-06 00:00:00.000,TCCEQEZJQ4F,TKC1Z4,2500.0,NaN,2500,offline,2406315,KCQCER,1
4129113,2023-07-06 00:00:00.000,TCCEQ434R1F,TKC1Z4,2500.0,NaN,2500,offline,2406316,KCQCER,1

In [24]:
df_trans.to_csv('transaction_cleaned.csv', index=False)